@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Kanit");

.container {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
}

.title, .subtitle {
    font-family: 'Josefin Sans', sans-serif;
}

.title {
    font-size: 2.5em;
}

.subtitle {
    color: #666
}